#version=DEVEL
#System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --activate
network --hostname=localhost.localdomain


ignoredisk --only-use=sda

autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/Toronto --isUtc

# Root password
rootpw --iscrypted $6$yHVci9O88yz/I.68$LKnrfIRLLeM8KbdHv3Lz.WJur1HMuCPWTpcvBDfC3ZTRoIx81aLpFkPhfeRi327XRBjx7qZVCLV5esBjyAR.k1
#create vagrant user
user --name=vagrant --password=$6$qNcdU1RCHKNkNS7b$wb2fLe3qvhr/Envvca9ce5.iGRxe6MSKdbGgoVEk19mA4pquux6iVugnJ/Ule50SToI8qO8bVbEd.XPtu/Lif. --iscrypted --gecos="vagrant"

%packages
@^virtualization-host-environment
@base
@core
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@development
@java-platform
chrony
ntp 
cryptsetup
cifs-utils
zip
unzip
git
net-tools
java-1.8.0-openjdk
java-11-openjdk
openssl-devel
readline-devel
zlib-devel
nfs-utils
kexec-tools
%end


%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post
cat > /etc/cron.d/ntpdate < /dev/null 2>&1
EOF
echo 'vagrant ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/vagrant
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot
